plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/sabalioglu/Desktop/video-reframer/frontend"
publishOrigin = "default"
base = "/Users/sabalioglu/Desktop/video-reframer/frontend"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]